@import url(./variable.css);

:root {
  background-color: var(--monitor-background);
  color: var(--monitor-text-color);
}

body {
  margin: 0;
  padding: 0;
}

* {
  &::-webkit-scrollbar {
    width: "8px";
  }
  &::-webkit-scrollbar-track {
    background: "transparent";
  }
  &::-webkit-scrollbar-thumb {
    background: "#888";
  }
  &::-webkit-scrollbar-thumb:hover {
    background: "#555";
  }
}
