.crosshair-configure-img-box {
  position: relative;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  border: 2px solid var(--box-border-color);
  color: white;
  padding: 20px;

  margin-bottom: 20px;
}

.crosshair-configure-img-box:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
  pointer-events: none;
}

.crosshair-configure-img-box:hover {
  cursor: pointer;
}

.crosshair-configure-img-box:hover:before {
  left: -50%;
  transform: skewX(-5deg);
}

.crosshair-configure-img-box .content {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 1px solid var(--content-border-color);
  text-align: center;
  box-shadow: 0 5px 10px rgba(9, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.crosshair-configure-img-box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
}

.crosshair-configure-img-box span:nth-child(1) {
  transform: rotate(0deg);
}

.crosshair-configure-img-box span:nth-child(2) {
  transform: rotate(90deg);
}

.crosshair-configure-img-box span:nth-child(3) {
  transform: rotate(180deg);
}

.crosshair-configure-img-box span:nth-child(4) {
  transform: rotate(270deg);
}

.crosshair-configure-img-box span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--floating-color);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform: scaleX(1);
    transform-origin: right;
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}
